Prueba1/Service References/WS_SEGURIDAD_PRODUCCION/WS_SEGURIDAD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/WS_SEGURIDAD/Service1" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/WS_SEGURIDAD/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/WS_SEGURIDAD/Service1">
      <s:element name="EncriptarPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncriptarPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncriptarPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DesencriptarPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sPasswordEncriptada" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DesencriptarPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DesencriptarPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EncriptarPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:EncriptarPassword" />
  </wsdl:message>
  <wsdl:message name="EncriptarPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:EncriptarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="DesencriptarPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:DesencriptarPassword" />
  </wsdl:message>
  <wsdl:message name="DesencriptarPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:DesencriptarPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_SeguridadSoap">
    <wsdl:operation name="EncriptarPassword">
      <wsdl:input message="tns:EncriptarPasswordSoapIn" />
      <wsdl:output message="tns:EncriptarPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DesencriptarPassword">
      <wsdl:input message="tns:DesencriptarPasswordSoapIn" />
      <wsdl:output message="tns:DesencriptarPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_SeguridadSoap" type="tns:WS_SeguridadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncriptarPassword">
      <soap:operation soapAction="http://tempuri.org/WS_SEGURIDAD/Service1/EncriptarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesencriptarPassword">
      <soap:operation soapAction="http://tempuri.org/WS_SEGURIDAD/Service1/DesencriptarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Seguridad">
    <wsdl:port name="WS_SeguridadSoap" binding="tns:WS_SeguridadSoap">
      <soap:address location="http://213.0.25.236:1253/WS_SEGURIDAD/WS_SEGURIDAD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>